<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.go.arnite">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.go.arnite.ui.user.signup.SignUpUserActivity"></activity>
        <activity android:name="com.go.arnite.ui.mentor.signup.SignUpMentorActivity" />
        <activity android:name="com.go.arnite.ui.common.forgotpassword.ForgotPasswordActivity" />
        <activity android:name="com.go.arnite.ui.common.onboarding.OnBoardingScreen" />
        <activity android:name="com.go.arnite.ui.common.signin.SignInActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.go.arnite.ui.common.termscondition.TermsConditionActivity" />
        <activity android:name="com.go.arnite.ui.common.splashscreen.SplashScreenActivity" />
        <activity android:name="com.go.arnite.ui.main.MainActivity"></activity>
    </application>

</manifest>